// Colours partial

//Text colours
$txt-primary: rgba(14, 28, 43, 0.8);
// body font
$txt-secondary: #2d313b;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #1f2122;
$form-placeholder: #686d6e;
// form placeholder text
// Global colours
$accent-color: #c59f2d;
// global accent colour
$accent-color-hover: #cfa230;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #8fa0c7;
$section-dark: #8fa0c7  ;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;